/*Configurções padrão*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Alegreya Sans;
}

header{
	margin: 0 auto;
}

body{
	background-image: url(./ImagensLogin/Fundo.png);

}
main{
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

.casa{
  padding: 10px;
}

.login {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.logo {
  text-align: center;
}

.texto {
  padding-top: 60px;
  font-size: 40px;
}

.CaixaEmailEsenha {
  margin: 30px;
  font-size: 23px;
  text-align: center;
}

#email {
  width: 500px;
  height: 45px;
  border-radius: 15px;
  border: none;
  padding: 0px 20px;
  font-size: 20px;
  background-color: #D9D9D9;
}


#senha {
  width: 500px;
  height: 45px;
  border-radius: 15px;
  border: none;
  padding: 0px 20px;
  font-size: 20px;
  background-color: #D9D9D9;
}

select {
  width: 500px;
  height: 45px;
  border-radius: 15px;
  border: none;
  padding: 0px 20px;
  font-size: 20px;
  background-color: #D9D9D9;
  color: #5f5f5f;
}

.legais{
  margin-right: 420px;
  font-size: 20px;
  font-weight: bold;
}

.esquecer {
  font-size: 20px;
  width: 70%;
  margin-left: 355px;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.esquecer:hover {
  color: #1e5aff;
}

.cadeistro{
  display: flex;
  margin-left: 443px;
  margin-top: 5px;
  text-decoration: none;
}

h2{
  font-size: 21px;
  color: #000000;
}

h3{
  font-size: 21px;
  margin-left: 10px;
  color: #000000;
}

h3:hover{
  color: #1e5aff;
}

.botprosseguir {
  width: 250px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
  background-color: #78FFAE;
  font-size: 20px;
  font-weight: bold;
}