/* Configurações padrão*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
  font-family: Alegreya Sans;
}

html{
  width: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main{
  margin: 0 auto;
  width: 980px;
  position: relative;
}

ul{
  padding: 0px!important;
  margin: 0;
  box-sizing: border-box;
}

/* Fim Configurações padrão*/

/*Cabeçalho*/

.menuum{
  background-color: #8fffbc;
  background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#E2FFEE));
  width: 100%;
  height: 175px;
}

.logo{
  float: left;
  padding: 10px;
  width: 70%px;
}

.login ul li{
  display: inline-block;
  float: left;
  list-style: none;
}

.login{
  padding: 15px 10px;
  float: right;
}

.menudois{
  background-color: #E2FFEE; background: -webkit-gradient(linear, left top, left bottom, from(#E2FFEE), to(#ffffff));
  margin: 0 auto;
  width: 100%;
  height: 100px;
}

.itens ul li{
  display: inline-block;
  color: #8f8f8f;
  font-size: 20px;
  
}

.itens ul li a{
  text-decoration: none;
  color: #8f8f8f;
  padding: 15px;
}

.itens ul li a:hover{
  color: #00aeff;
  height: 42px;
  border-bottom: 2px solid #00aeff;
}

.itens{
  width: 75%;
  float: left;
  margin-top: 30px;
}

.busca{
  width: 25%;
  float: right;
}

.busca input{
  background-image: url(./ImagensInícioLogado/Lupa.png);
  background-repeat: no-repeat;
  background-position: 99%;
  width: 440px;
  height: 35px;
  margin-top: 21px;
  margin-left: -210px;
  padding: 12px;
  border: 1px solid #8f8f8f;
  border-radius: 12px
}

.help{
  border-bottom: 8px solid #D7D4D4; 
}

.endereco {
  background-color: #FFFFFF;
  height: 25px; 
}

.informacoes {
  float: left;
  font-size: 13px;
  
  padding: 15px;
  margin-top: -5px;
}

.tell {
  margin-top: 8px;
  margin-left: -6px;
  position: absolute;
  
}

.loc{
  margin-top: 6px;
  margin-left: -6px;
  position: absolute;
  
}

/*Fim do Cabeçalho*/

/* Carrossel de imagens */

.slider{
  margin: 0 auto;
  width: 980px;
  height: 350px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 350px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img{
  width: 980px;
}

.manual-navigation{
  position: absolute;
  width: 980px;
  margin-top: -22px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 5px;
}

.manual-btn:hover{
  background-color: #242323;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid #00aeff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 980px;
  margin-top: 328px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 5px;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #242323;
}


#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #242323;
}


#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #242323;
}


#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #242323;
}

/* Fim do Carrossel de imagens*/

/*Pergunta*/

.oque{
  margin-top: 75PX;
  text-align: center;
  color: #a8a8a8;
  font-size: 35px;
  font-family: Gruppo;
}

/*Fim da Pergunta*/

/*Botões*/

.botao{
  margin-top: 20px;
}

.planos{
  margin: 0 auto;
  position: absolute;
  width: 257px;
  height: 370px;
  border: 0.5px solid #9cdfb7;
  border-radius: 10px;
  background-color:  #C4FBDA;
  text-align: center;
  
  font-size: 23px;
}

.planos:hover{
  background-color:  #BDEED1;
}

.agendar{
  margin: 0 auto;
  position: absolute;
  width: 257px;
  height: 370px;
  margin-left: 239px;
  border: 0.5px solid #9cdfb7;
  border-radius: 10px;
  background-color: #AAFFCC;
  text-align: center;
  
  font-size: 23px;
}

.agendar:hover{
  background-color: #9EEEBE;
}

.doacoes{
  margin: 0 auto;
  position: absolute;
  width: 257px;
  height: 370px;
  margin-left: 481px;
  border: 0.5px solid #9cdfb7;
  border-radius: 10px;
  background-color: #88FFB8;
  text-align: center;
  
  font-size: 23px;
}

.doacoes:hover{
  background-color: #80ECAB;
}

.verificar{
  margin: 0 auto;
  position: absolute;
  width: 257px;
  height: 370px;
  margin-left: 723px;
  border: 0.5px solid #9cdfb7;
  border-radius: 10px;
  background-color: #67FFA4;
  text-align: center;
  
  font-size: 23px;
}

.verificar:hover{
  background-color: #5FEA97;;
}

/*Fim dos Botões*/

/*Ródapé*/

footer {
  margin-top: 500;
  width: 100%;
  height: 185px;
  color:  #000000;
  background-color: #eaeaea;
  border: 2px solid #BDBDBD;
}
.img{
  height: 30px;
  float: right;
  padding: 10px;
}

.copyright{
  margin-top: 50px;
  background-color: #BDBDBD;
  width: 100%;
  height: 50px;
  text-align: center;
}

.logodois{
  padding: 10px;
  height: 65px;
}

.rodape{
  width: 50%;
}

.social{
  float: right;
  width: 50%;
  margin-top: -80px ;
}

/*Ródapé*/